.card {
 width: 190px;
 height: 264px;
 background: #fff;
 border-radius: 15px;
 box-shadow: 1px 5px 60px 0px #100a886b;
 
}

.card .card-border-top {
 width: 60%;
 height: 3%;
 background: #740ac0;
 margin: auto;
 border-radius: 0px 0px 15px 15px;
}

.card span {
 font-weight: 600;
 color: #740ac0;
 text-align: center;
 display: block;
 padding-top: 10px;
 font-size: 16px;
 text-transform: capitalize;
}

.card .job  {
 font-weight: 400;
 color: #740ac0;
 display: block;
 text-align: center;
 padding-top: 3px;
 font-size: 13px;
}
.card  .age {
 font-weight: 400;
 color: #740ac0;
 display: block;
 text-align: center;
 padding-top: 3px;
 font-size: 12px;
}

.card .img {
 width: 70px;
 height: 80px;
 background: #740ac0;
 border-radius: 15px;
 margin: auto;
 margin-top: 25px;
}

.card button {
 padding: 8px 25px;
 display: block;
 margin: auto;
 border-radius: 8px;
 border: none;
 margin-top: 30px;
 background: #740ac0;
 color: #fff;
 font-weight: 600;
}

.card button:hover {
 background: #fff;
 color: #740ac0;
 border:1px solid #740ac0;
}


/* treatments */

/* this card is inspired form this - https://georgefrancis.dev/ */

.card_ {
 --border-radius: 0.75rem;
 --primary-color: #7257fa;
 --secondary-color: #3c3852;
 width: 210px;
 font-family: "Arial";
 padding: 1rem;
 cursor: pointer;
 border-radius: var(--border-radius);
 background: #740ac0;
 box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
 position: relative;
 margin-left: 1rem;
}

.card_>*+* {
 margin-top: 1.1em;
}

.card_ .card__content {
 color: #fff;
 font-size: 0.86rem;
}

.card_ .card__title {
 padding: 0;
 font-size: 1.3rem;
 font-weight: bold;
}

.card_ .card__date {
 color: #6e6b80;
 font-size: 0.8rem;
}

.card_ .card__arrow {
 position: absolute;
 background: #fff;
 padding: 0.4rem;
 border-top-left-radius: var(--border-radius);
 border-bottom-right-radius: var(--border-radius);
 bottom: 0;
 right: 0;
 transition: 0.2s;
 display: flex;
 justify-content: center;
 align-items: center;
}

.card_ svg {
 transition: 0.2s;
}

/* hover */
.card_:hover .card__title {
 color: #fff;
 text-decoration: underline;
}

.card_:hover .card__arrow {
 background: #2499fe;
}

.card_:hover .card__arrow svg {
 transform: translateX(3px);
}




/* patient */
.card__ {
 max-width: 320px;
 border-width: 1px;
 border-color: rgba(219, 234, 254, 1);
 border-radius: 1rem;
 background-color: rgba(255, 255, 255, 1);
 padding: 1rem;
}

.header {
 display: flex;
 align-items: center;
 grid-gap: 1rem;
 gap: 1rem;
}

.icon {
 flex-shrink: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 9999px;
 background-color: rgba(96, 165, 250, 1);
 padding: 0.5rem;
 color: rgba(255, 255, 255, 1);
}

.icon svg {
 height: 1rem;
 width: 1rem;
}

.alert {
 font-weight: 600;
 color: rgba(107, 114, 128, 1);
}

.message {
 margin-top: 1rem;
 color: rgba(107, 114, 128, 1);
}

.actions {
 margin-top: 1.5rem;
}

.actions a {
 text-decoration: none;
}

.mark-as-read,
.read {
 display: inline-block;
 border-radius: 0.5rem;
 width: 100%;
 padding: 0.75rem 1.25rem;
 text-align: center;
 font-size: 0.875rem;
 line-height: 1.25rem;
 font-weight: 600;
}

.read {
 background-color: rgba(59, 130, 246, 1);
 color: rgba(255, 255, 255, 1);
}

.mark-as-read {
 margin-top: 0.5rem;
 background-color: rgba(249, 250, 251, 1);
 color: rgba(107, 114, 128, 1);
 transition: all .15s ease;
}

.mark-as-read:hover {
 background-color: rgb(230, 231, 233);
}


/* aho bigeze ndananiwe */

.cookie-card {
 max-width: 320px;
 padding: 1rem;
 background-color: #fff;
 border-radius: 10px;
 box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
 margin-left: .6rem;
}

.title {
 font-weight: 600;
 color: rgb(31 41 55);
}

.description {
 margin-top: 1rem;
 font-size: 0.875rem;
 line-height: 1.25rem;
 color: rgb(75 85 99);
}

.description a {
 --tw-text-opacity: 1;
 color: rgb(59 130 246);
}

.description a:hover {
 -webkit-text-decoration-line: underline;
 text-decoration-line: underline;
}

.actions {
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-top: 1rem;
 -moz-column-gap: 1rem;
 column-gap: 1rem;
 flex-shrink: 0;
}

.pref {
 font-size: 0.75rem;
 line-height: 1rem;
 color: rgb(31 41 55);
 -webkit-text-decoration-line: underline;
 text-decoration-line: underline;
 transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
 border: none;
 background-color: transparent;
}

.pref:hover {
 color: rgb(156 163 175);
}

.pref:focus {
 outline: 2px solid transparent;
 outline-offset: 2px;
}

.accept {
 font-size: 0.75rem;
 line-height: 1rem;
 background-color: rgb(17 24 39);
 font-weight: 500;
 border-radius: 0.5rem;
 color: #fff;
 padding-left: 1rem;
 padding-right: 1rem;
 padding-top: 0.625rem;
 padding-bottom: 0.625rem;
 border: none;
 transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
}

.accept:hover {
 background-color: rgb(55 65 81);
}

.accept:focus {
 outline: 2px solid transparent;
 outline-offset: 2px;
}