@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("home.css");

/* 
  colors 
  Main: #ffffff
  Secondary: #730ac0
  Tertiary: #cfffff
*/
:root {
  --foreground-rgb: 115, 115, 192;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 115, 70, 192;
    --background-start-rgb: 207, 255, 255;
    --background-end-rgb: 207, 255, 255;
  }
}

body {
  color: #fff;
  background: #740ac0
}

.ant-form-item-explain-error {
  color: #730ac0!important;
  position: absolute;
  top: 3rem;
  left: 0;
  font-weight:300;
}